<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{pluResPath}}github/grouped/release/index.css" />
    <link rel="shortcut icon" href="#" />
</head>
{{@headStyle}}

<body>
<div class="container" id="container">
    <div class="header">
        <div class="header-left">
            <img class="github-icon" src="{{pluResPath}}img/icon/github.png"/>
            <div class="header-title">
                <div class="event-type">GitHub Releases</div>
                <div class="event-count">{{count}} new releases</div>
            </div>
        </div>
        <div class="timestamp">{{time}}</div>
    </div>

    <div class="repo-info">
        <img class="repo-avatar" src="{{events[0].repoAvatar}}" />
        <div class="repo-details">
            <div class="repo-name">{{repoName}}</div>
            <div class="repo-description">{{events[0].description}}</div>
        </div>
    </div>

    <div class="releases-list">
        {{each events event}}
        <div class="release-item">
            <div class="release-header">
                <svg class="release-icon" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                    <path fill-rule="evenodd" d="M2.5 7.775V2.75a.25.25 0 01.25-.25h5.025a.25.25 0 01.177.073l6.25 6.25a.25.25 0 010 .354l-5.025 5.025a.25.25 0 01-.354 0l-6.25-6.25a.25.25 0 01-.073-.177zm-1.5 0V2.75C1 1.784 1.784 1 2.75 1h5.025c.464 0 .91.184 1.238.513l6.25 6.25a1.75 1.75 0 010 2.474l-5.026 5.026a1.75 1.75 0 01-2.474 0l-6.25-6.25A1.75 1.75 0 011 7.775zM6 5a1 1 0 100 2 1 1 0 000-2z"></path>
                </svg>
                <div class="release-title">
                    <a href="{{event.releaseUrl}}" class="release-link">{{event.releaseName}}</a>

                    {{ if event.isDraft }}
                    <span class="tag draft">Draft</span>
                    {{ /if }}

                    {{ if event.isPrerelease }}
                    <span class="tag prerelease">Pre-release</span>
                    {{ /if }}

                    <span class="tag version">{{event.tagName}}</span>
                </div>
            </div>

            <div class="release-meta">
                <img src="{{event.userAvatar}}" class="user-avatar" />
                <span>Released by <span class="username">@{{event.user}}</span></span>
            </div>

            {{ if event.body }}
            <div class="release-body">
                {{event.body.substring(0, 150)}}{{event.body.length > 150 ? '...' : ''}}
            </div>
            {{ /if }}

            <div class="release-footer">
                <a href="{{event.releaseUrl}}" class="view-release">View on GitHub</a>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="footer">
        <div class="footer-text">Created by Yunzai-Bot and GitHub-Plugin</div>
    </div>
</div>
</body>
</html>
